{% extends 'base.html' %}


{% block header %}
{% include 'navbar.html' %}
{% include 'slider.html' %}
{% include 'source.html' %}

<a href="{{source.url}}">
    <h1>{{source.name}}</h1>
</a>
<p class="article-author">{{source.description}}</p>
<p class="d-flex flex-column">
    <span> <em>{{source.language}}</em> </span>
    <span> <em>{{source.country}}</em> </span>
</p>



<h1>{{news_title}}</h1>
{% for news in articles %}
<div class="five">
    {% for article in news %}
    <div class="i{{loop.index}} my-2">
        <div class="w-auto p-3">
            {% if article.author%}
            <h2 class="article-author mb-0">
                <em>By: {{article.author}}</em>
            </h2>
            {% endif %}
            <div class="d-flex align-items-center py-1">
                <a href="/sources/{{article.id}}">
                    <h3 class="article-source my-0">{{article.source}}</h3>
                </a>
                <div class="dot ml-3 mr-2 d-flex align-self-center"></div>
                <p class="article-time my-0">{{article.publishedAt}}s</p>
            </div>
            <div class="sec-img-div d-flex align-items-center">
                <a href="article.url">
                    <img class="sec-img" src="{{article.urlToImage}}" alt="">
                </a>
            </div>
            <div>
                <h2 class="article-title my-2">
                    <a href="/">{{article.title}}
                    </a>
                    <div class="underline">
                    </div>
            </div>
            <div>
                <p class="article-description pl-2 my-2">{{article.description | truncate(300) }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock header%}